@{
    ViewBag.Title = "Сброс пароля";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
    int result = ViewBag.result != null ? (int)ViewBag.result : 0;
    string UrlBack = HttpContext.Current.Request.UrlReferrer != null ? HttpContext.Current.Request.UrlReferrer.ToString() : "/";
}

@section PageLevelStyles{
    <link href="~/Assets/pages/css/login-3.min.css" rel="stylesheet" type="text/css" />
    <style>
        .forget-form{
            display: block !important;
        }
    </style>
}

<div class="content">
    @if (result == (int)constant.status_registrate.error)
    {
        <div class="alert alert-danger">
            Пользователь с email не найден.
        </div>
    }
    else if (result == (int)constant.status_registrate.set_password)
    {
        <div class="alert alert-success">
            Пароль сброшен. Инструкции отправлены на Ваш email.
        </div>
    }

    @if (result == (int)constant.status_registrate.set_password)
    {
        <p>Перейти на страницу <a href="@Url.Action("Login","Account")">Авторизации</a>.</p>
    }
    else
    {
        <form class="forget-form" action="@Url.Action("ForgetPassword","Account")" method="post">
            <h3>Забыли пароль?</h3>
            <p> Введите Ваш email для сброса пароля. </p>
            <div class="form-group" id="div-email">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" id="input-email" />
                    
                </div>
                <span class="help-block" style="display:none;">Введите корректный email</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green pull-right"> Сбросить </button>
                <a href="@UrlBack" class="btn grey-salsa btn-outline"> Отменить </a>
                
            </div>
        </form>
    }
</div>

@section PageLevelScripts{
    <script src="~/static/js/Account/forgetpassword.js"></script>
    <script>
        $(document).ready(function () {
            $(".forget-form").on("submit", function (e) {
                if (!ValidInsertData()) {
                    return false;
                    e.preventDefault();
                }
            });
        });
    </script>
}