<div class="page-header-menu">
    <div class="container">
        <div class="hor-menu  ">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("ТАВ", "Index", "Main", new {@class="navbar-brand"})</li>
                <li>@Html.ActionLink("Рассылки", "Delivery", "Main")</li>
            </ul>
        </div>
    </div>
</div>