@media (min-width: 991px) {
  .page-header-top {
    display:none !important;
  }
}

@media (min-width: 991px) {
  #div-main-menu-right {
    float:right !important;
  }
  .page-header {
    height: 51px !important;
  }
}

@media (max-width: 991px) {
  .page-header-top,.page-header-menu {
    background-color: #444d58!important;
  }
  .page-header .page-header-menu .hor-menu .navbar-nav{
      background-color: #444d58!important;
      
  }
  .page-header .page-header-menu .hor-menu .navbar-nav>li>a{
      color: #fff !important;
  }
  .page-header .page-header-menu .hor-menu, .page-header .page-header-menu .hor-menu .navbar-nav {
      border-radius: 0px !important;
      z-index: 100 !important;
  }

  .page-header .page-header-menu .hor-menu .navbar-nav>li{
      z-index: 100 !important;
  }
  .page-header .page-header-menu .hor-menu .nav {
    border: 1px solid #F0F0F0!important; 
    margin: 0!important;
  }
  #div-main-menu{
      z-index:100 !important;
  }
  .page-header {
    height: 75px !important;
  }

  .pull-right {
    float: left !important; 
    }

}

@media (max-width: 991px){
    .page-header .page-header-menu {
        background: #444d58!important;
        padding: 0px 0 0 !important; 
    }
}