@{
    ViewBag.Title = "Телефон Авито всем";
}

<div class="page-content-inner">
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-call-end font-green"></i>
                <span class="caption-subject font-green bold uppercase">@ViewBag.Title</span>
            </div>
        </div>
        <div class="portlet-body">
            Краткое описание проекта
        </div>
    </div>
</div>